.body {
    padding-top: 15%;
    text-align: center;
    background-color: #f5f5f5;
}
    
.login {
    width: 330px;
    margin-left: auto;
    margin-right: auto;
}
    
.login img {
    width: 50%;
}

.ancho {
    width: 80%;
}
    
.boton {
    height: 50px;
}

.spinner {
    margin: 0 auto;
}
    